body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
}

h1 {
  color: white;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
}

#textbox {
  text-align: right;
  padding: 0.5em;
  font-size: 2em;
}

.numbers {
  display: flex;
  flex-flow: column nowrap;
}

.num-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0;
  list-style-type: none;
}

.item {
  flex-grow: 1;
  width: 50%;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.6em;
  background-color: #222427;
  border-radius: 10px;
}

#top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0;
  list-style-type: none;
}

#top-row .item {
  padding: 0.5em;
  width: 25%;
  text-align: center;
  font-size: 1em;
  background-color: #222427;
}

.item + .item,
.last-item + .last-item {
  margin-left: 20px;
}

#zero {
  flex-shrink: 1;
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;
}

#two-row {
  display: flex;
  flex-shrink: 1;
  flex-flow: row nowrap;
  width: 50%;
}

.last-item {
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #222427;
  border-radius: 10px;
}

.orange {
  background-color: #ff9500;
}

.green {
  background-color: #2ec973;
}

.clear-bg {
  background-color: #2d191e;
  color: #74282e;
}

#x-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
